.Projects {
    height: 100%;
    width: 100%;
    display: flex;
}

.Projects__list {
    height: 100%;
    width: 320px;
}

.Projects__page {
    height: calc(100% - 80px);
    width: 75vw;
}

.no_open_project {
    color: #ffffff97;
    text-align: center; 
    margin-top: 200px
}

@media screen and (max-width: 800px) {
    /* .Projects{
        flex-direction: column;
    } */
    .Projects__list {
        width: 100%;
    }

    .Projects__list_mobileView {
        width: 0px;
        display: none;
    }

    .Projects__page_mobileView {
        width: 100%;
        display: block;
    }

    .no_open_project {
        display: none;
    }
}