.ProjectsList {
    width: 100%;
    height: 100%;
    background-color: #252526;
    overflow: hidden;
}

.ProjectsList__list {
    height: 55%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ProjectsList__title, .BlogsList__title {
    color: #ababab;
    margin-left: 30px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.Blog__list {
    height: 30%;
    width: 100%;
}

.BlogsList__list {
    height: 90%;
    overflow-y: scroll;
}

.BlogList__list__item {
    display: block;
    text-decoration: none;
    color: #ababab;
    font-weight: 400;
    font-size: 16px;
    background-color: #2e2e2e;
    width: 80% !important;
    padding: 10px;
    border-radius: 5px;
    margin: auto auto;
    margin-bottom: 20px;
}

.BlogList__list__item:hover {
    background-color: #3b3b3b;
    transition: 0.2s ease;
}