.ProjectsList {
    width: 100%;
    height: 100%;
    background-color: #252526;
    overflow: hidden;
}

.ProjectsList__title {
    color: #ababab;
    margin-left: 30px;
    padding-top: 20px;
    margin-bottom: 20px;
}

