.ProjectsListItem {
  margin-left: 20px;
  margin-right: 15px;
  display: flex;
  padding-top: 5px;
  width: 100%;
  height: 70px;
}

.ProjectsListItem:hover {
  background-color: #2A2D2E;
  cursor: pointer;
padding-left: 30px;
margin-left: -10px;
}

.ProjectsListItem > img {
    height: 45px;
    width: 45px;
  }

.ProjectsListItem > span {
    display: flex;
    flex-direction: column;
    width: calc(100% - 45px);
}

.ProjectsListItem > span > button {
  background-color: #0E639C;
  color: #fff;
  height: 15px;
  padding: 10px;
  border: none;
  box-sizing: border-box;
  display: flex;
  margin-left: auto;
  margin-right: 30px;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
}

.project_details {
    margin-left: 5px;
}

.project_details > h4 {
  color: rgb(184, 184, 184);
  margin-bottom: 5px;
  line-height: 1;
}

.project_details > h5 {
  color: rgb(139, 138, 138);
  font-weight: 500;
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.6;
}

