.TabBar{
    position: absolute;
    top: 0px;
    background-color: #272727;
    width: 100%;
    height: 40px;
}

.TabBar__activeTab {
    border-top: 1px solid #0175C1;
    height: 100%;
    width: 200px;
    background: #1E1E1E;
    color: #fff;
    font-weight: 400;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    /* justify-content: center; */
}

.TabBar__activeTab > p {
    margin-left: 10px;
}

.TabBar__activeTab > svg {
    height: 20px;
    width: 20px;
    margin-left: auto;
    color: #ffffff92;
}

.TabBar__activeTab > svg:hover {
    color: #fff;
    cursor: pointer;
}