
* {
  margin: 0;
  padding: 0;
  
}

.App {
  position: relative;
  background-color: #1D1E22;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */

}


.App__Main{
  position: absolute;
  display: flex;
  height: calc(100% - 60px);
  top: 30px;
}

/* @media screen and (max-width: 800px) {
  .App {
    overflow: scroll;
  }
} */