
* {
  margin: 0;
  padding: 0;
  
}

.App {
  position: relative;
  background-color: #1D1E22;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */

}


.App__Main{
  position: absolute;
  display: flex;
  height: calc(100% - 60px);
  top: 30px;
}


::-webkit-scrollbar{
  width: 13px;
  border: 0.1px solid rgba(255, 255, 255, 0.185);
  border: none;
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #464646;
}

/* @media screen and (max-width: 800px) {
  .App {
    overflow: scroll;
  }
} */